@font-face {
  font-family: Poppins;
  src: url('../fonts/poppins-thin.ttf') format('truetype');
  font-weight: 100; 
}
@font-face {
  font-family: Poppins;
  src: url('../fonts/poppins-thinitalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic; 
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/poppins-extralight.ttf') format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: Poppins;
  src: url('../fonts/poppins-extralightitalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/poppins-light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: Poppins;
  src: url('../fonts/poppins-lightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/poppins-regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: Poppins;
  src: url('../fonts/poppins-italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/poppins-medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: Poppins;
  src: url('../fonts/poppins-mediumitalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/poppins-semibold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: Poppins;
  src: url('../fonts/poppins-semibolditalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/poppins-bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: Poppins;
  src: url('../fonts/poppins-bolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/poppins-extrabold.ttf') format('truetype');
  font-weight: 800;
}
@font-face {
  font-family: Poppins;
  src: url('../fonts/poppins-extrabolditalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/poppins-black.ttf') format('truetype');
  font-weight: 900;
}
@font-face {
  font-family: Poppins;
  src: url('../fonts/poppins-blackitalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

